body {
    background-color: pink !important;
    color: white !important;
}

.titulo {
    color: red !important;
    text-align: center;
}
button {
    padding: 10px 20px;
    border-radius: 10px !important;
    border: hidden;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    background: blueviolet;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

button:hover {
    background: blueviolet;
    box-shadow: 0 0 30px 5px rgb(138, 43, 226, 0.6);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
